# Server stuffs
TZ="Australia/Sydney"
JWT_SECRET=secret
API_PREFIX="/api/v1"
PORT=8080
APP_URL="https://violetshift.netlify.app"
ENVIRONMENT='development'

# Mongo DB
MONGO_URL=<MONGO_URL>
MONGO_LOG_URL=<MONGO_LOG_URL>

# Redis
REDIS_URL=<REDIS_URL>

# NATS
NATS_URL=<NATS_URL>
NATS_USER_JWT=<NATS_USER_JWT>
NATS_NKEY_SEED=<NATS_NKEY_SEED>
